/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* MAIN */
.container {
  height: 100vh;
  background: linear-gradient(#329689 15vh, #DEDCD3 0px, #D1DBDA 100%);
  padding: 30px 0;

}


/* le altezze ed i colori di bg sono provvisori */
.main-content {
  width: 80%;
  margin: 0 auto;
  background-color: grey;
  height: 860px;
}

.main-content .main-left, .main-content .main-right {
  float: left;
  height: 100%;
}

.main-left {
  width: 35%;
  background-color: #FAFAFA;
  border-right: 1px solid #D6D6D6;
}

.main-right {
  width: 65%;
  background-color: khaki;
}

.main-left .user-bar  {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #EBEBEB;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px
}

.user-section .propic {
  height: 80px;
  vertical-align: middle;
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.user-section .propic img {
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.user-section p {
  display: inline-block;
  font-weight: bold;

}

.user-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.user-buttons {
  font-size: 24px;
  color: #B1B3B1;
}

.user-buttons i {
  cursor: pointer;
}

.notification-control {
  height: 80px;
  background-color: #8FDBFB;
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.notification-control i {
  font-size: 22px;
  background-color: #F2FBFF;
  border-radius: 50%;
  padding: 15px 10px;
  color: #8FDBFB;
}

.notification-control .title {
  line-height: 1.5;
}

.notification-control .subtitle {
  font-size: 14px;
  text-decoration: underline;
  color: #4D7385;
  cursor: pointer;
}

.search-bar {
  height: 50px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.search-bar .lens {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 30px;
  border: 1px solid #F5F5F5;
  border-right: none;
  color: #B1B3B1;
}


.search-bar input {
  width: 100%;
  border: none;
  padding: 10px;
  border: 1px solid #F5F5F5;
  border-left: none;
}

.search-bar input::placeholder {
  color: #c7c7c7;
}


.chat-list {
  background-color: #fff;
  border-right: 1px solid #E8E8E8;
  margin-right: 10px;
}

ul {
  list-style: none;
}

.chat-list ul li {
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.chat-list ul li.selected {
  background-color: #E8EBEB;
}

.chat-list ul li img {
  height: 100%;
  border-radius: 50%;
}

.chat-list-element-left {
  display: flex;
  gap: 20px;
}

.contact-name {
  font-size: 18px;
  line-height: 1.5;
}

.chat-preview, .chat-date {
  font-size: 14px;
  color: #c7c7c7;
}

